# Entorno virtual
venv/
env/
.env

# Python
__pycache__/
*.py[cod]
*$py.class

# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos temporales del proyecto
/docs_temp/*
!/docs_temp/.gitkeep

# IDEs
.vscode/
.idea/
