langchain
langchain-community
langchain-groq
langchain-openai
faiss-cpu
sentence-transformers
rank_bm25
pdfplumber
python-docx
openpyxl
python-pptx
streamlit
llama-parse
python-dotenv
pydantic
tiktoken